*
{
margin: 0;
}
body 
{
  font-family: Arial;
  font-size: 12pt;
  background-image: url(images/green-abstract-background.jpg);
}
nav
{
	margin-top: 75px;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	width: 60%;
	text-align: center;
	background-color: #000000;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
nav a 
{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 40px;
    padding-right: 10px;
	font-family:dogfont;
	margin-right: 5%;
}
nav a:hover 
{
    color: #FFFF00;
}
#tux
{
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 80px;
	height: 143px;
	width: 143px;
	border: 9px solid black;
 }
.twitter-timeline
 {
	float: right;
	padding-left:10px;
	padding-top: 10px;
	width: 35%;
}	
@font-face
{
font-family: dogfont;
src: url(fonts/GoodDog.otf);
}
@font-face
{
font-family: sketch;
src: url(fonts/FFF_Tusj.ttf);
}
@font-face
{
font-family: droid;
src: url(fonts/Droid.ttf);
}
@font-face
{
font-family: walkwayS;
src: url(fonts/WalkwayS.ttf);
}
.parapad
{
	width: calc(100% - 40px);
	margin-right: 20px;
	margin-left: 20px;
	font-family: droid;
	font-size: 18px;
}
#downloads
{
margin-left: auto;
margin-right: auto;
border: 0 px;
border-collapse: collapse;
font-family: walkways;
font-size: 18px;
text-align: left; 
width: 571px;
}
h2
{
text-align: center;
font-family: sketch;
font-weight: bold;
font-size: 32px;
}
footer
{
text-align: center; 
clear:both;
width: 100%;
}
#contactfooter
{
position:absolute;
bottom:2px;
}
th
{
width: 94px; 
text-align: center; 
font-weight: bold;
border-bottom: 2px solid black;
}
form { 
padding-top: 25px;
margin: 0 auto; 
width: 25%;
}
label {
	float: left;
	line-height: 1.1;
	margin: 0px 10px 0px 0px;
	text-align: right;
	width: 145px;
}
.formpair {
    clear: both;
    margin-bottom: 1.2em;
	white-space:nowrap;
}
#button {
	text-align: center;
	}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  z-index: 2000;
  position: fixed;
  height: 90px;
  width: 90px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-activity {
  display: none;
}

.pace .pace-activity {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: -30px;
  top: -30px;
  height: 90px;
  width: 90px;
  display: block;
  border-width: 30px;
  border-style: double;
  border-color: #020202 transparent transparent;
  border-radius: 50%;

  -webkit-animation: spin 1s linear infinite;
     -moz-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.pace .pace-activity:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  display: block;
  border-width: 10px;
  border-style: solid;
  border-color: #020202 transparent transparent;
  border-radius: 50%;
}


@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@keyframes spin {
  100% {  transform: rotate(359deg); }
}